<div class="show_container">
  <div class="preview">
    <h3>
      <p>question preview</p>
    </h3>
  </div>
  <div>
    <%= form_for @question, remote: :true do |f| %>
      <%= f.text_area :question, class: :input, placeholder: "Have a question?  Ask it here or chug a beer!" %>
      <%= f.hidden_field :user_id, :value => session[:user_id] %>
      <%= f.submit "Ask Question" %>
    <% end %>
  </div>
</div>

<table class="question_container">
  <% @questions.each do |question| %>
    <%= render partial: 'question', locals: {question: question} %>
  <% end %>
</table>
