<div class="ask_question">
  <%= link_to 'Ask Question', new_question_path %>
</div>

<table class="question_container">
  <% @questions.each do |question| %>
  <% @vote = Vote.new %>
    <tr class="question">
      <td class="vote_buttons">
        <%= button_to '+1', upvote_question_path(question), method: :post %>
        <%= button_to '-1', downvote_question_path(question), method: :post %>
      </td>
      <td>
        <span><%= pluralize(question.votes.sum(:value), "vote") %></span>
      </td>
      <td> <%= link_to question.question, question %>
      </td>
    </tr>
    <tr class="spacer">
    </tr>
  <% end %>
</table>
