<tr class="comment">
  <!-- partial? I think you can use commentable_path ... play with it... -->
  <td> 
    <%= button_to '+1', upvote_question_comment_path(question, comment), method: :post, class: 'positive', :remote => true %>
    <%= button_to '-1', downvote_question_comment_path(question, comment), method: :post, class: 'negative', :remote => true %>
  </td>
  <td>
    <span class="sud_count"> <%= pluralize(comment.votes.sum(:value), "sud") %> </span>
  </td>
  <td>
    <h3> <%= comment.comment %> </h3>
    <span class="username_comment"> by <%= " #{comment.user.username}" %> </span>
  </td>
</tr>
  
