<div class="answer_div"> 
  <table class="answer_table">
    <tr class="answer">
      <td>
        <%= button_to '+1', upvote_question_answer_path(question, answer), method: :post %>
        <%= button_to '-1', downvote_question_answer_path(question, answer), method: :post %>
      </td>
      <td>
        <span><%= pluralize(answer.votes.sum(:value), "sud") %></span>
      </td>
      <td>
        <%= answer.answer %> 
      </td>
      <td class="update">
        <%= link_to "edit |", edit_question_answer_path(question, answer) %>
        <%= link_to 'delete |', question_answer_path(question, answer), method: :delete %>
        <%= link_to 'comment', question_answer_path(question, answer), method: :delete %>
      </td>
    </tr>
  </table>
  
  <%= render partial: 'comments/comment_form', locals: {question: answer.question, answer: answer, comment: @comment} %>

    <table class='table comment_table'>
      <% answer.comments.each do |comment| %>
        <%= render partial: 'comments/answer_comment', locals: {question: answer.question, answer: answer, comment: comment} %>
      <% end %>
    </table>
</div>
