<div class="answer_div"> 
  <table class="answer_table">
    <col width="50">
    <col width="50">
    <col width="100%">
    <tr class="answer">
      <td>
        <%= button_to '+1', upvote_question_answer_path(question, answer), method: :post %>
        <%= button_to '-1', downvote_question_answer_path(question, answer), method: :post %>
      </td>
      <td>
        <span><%= pluralize(answer.votes.sum(:value), "sud") %></span>
      </td>
      <td>
        <%= answer.answer %> 
      </td>
        <td class="update">
          <% if session[:user_id] == answer.user_id %>
          <%= link_to "edit |", edit_question_answer_path(question, answer) %>
          <%= link_to 'delete |', question_answer_path(question, answer), method: :delete %>
          <% end %>
          <%= link_to 'comment', question_answer_path(question, answer), method: :delete %>
        </td>
      <td class="update">
      </td>
    </tr>
  </table>
  
  <%= render partial: 'comments/comment_form', locals: {question: answer.question, answer: answer, comment: @comment} %>

  <table class='table comment_table'>
    <col width="50">
    <col width="50">
    <col width="100%">
    <% answer.comments.each do |comment| %>
      <%= render partial: 'comments/answer_comment', locals: {question: answer.question, answer: answer, comment: comment} %>
    <% end %>
  </table>
</div>
